.group-children-loading {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .group-children-loading-text {
        font-size: 1.5rem;
        margin-bottom: 10px;
        animation-name: loadingText;
        animation-iteration-count: infinite;
        animation-duration: 1s;

        @keyframes loadingText {
            0% {
                transform: translateY(0);
            }
            50%{
                transform: translateY(-20%);
            }
            100% {
                transform: translateY(0%);
            }
        }
    }

    .group-children-loading-spiner{
        width: 45px;
        height: 45px;
        background-image: url(./sprites/loading.png);
        background-size: cover;
        animation-name: loading;
        animation-iteration-count: infinite;
        animation-duration: 1s;


        @keyframes loading {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

    }

}

.group-children-none {
    width: 100%;
    height: auto;
    padding: 25px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        font-size: 30px;
        border: 1px solid #c9c9c9;
        background: linear-gradient(#f6f6f6, #d7d7d7);
        padding: 25px 100px;
        color: #949494;
        
    }

}

.group-children {
    width: 100%;
    height: auto;
    padding: 0 25px;
    background: #fff;

    .group-children__wrapper {

        .group {
            width: 100%;
            height: auto;
            background: linear-gradient(#f6f6f6, #d7d7d7);
            border: 1px solid #c9c9c9;
            border-radius: 5px;
            padding: 10px;
            margin: 50px 0;

            .group__header {
                width: 100%;
                height: auto;
                background: #fff;
                border: 1px solid #c9c9c9;
                border-radius: 5px;
                padding: 10px;
                margin: 10px 0;
                display: flex;

                .group__image {
                    width: 150px;
                    height: 150px;
                    background-image: url(./images/groupImage.svg);
                    background-size: cover;
                    border: 1px solid #c9c9c9;
    
                }
    
                .group__image-undefined {
                    width: 150px;
                    height: 150px;
                    background-image: url(./images/groupImage.svg);
                    background-size: cover;
                    border: 1px solid #c9c9c9;
    
                }
    
                .group__description {
                    width: 75%;
                    height: 150px;
                    margin-left: 10px;
                    border: 1px solid #c9c9c9;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-around;
    
                }
    
                .group__button-wrapper {
                    width: auto;
                    height: 150px;
                    margin-left: 10px;
                    border: 1px solid #c9c9c9;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-around;
    
                    .group__add-children {
                        width: 150px;
                        height: 40px;
                        background: linear-gradient(#7de07d, #5bb85b);
                        border: none;
                        color: #fff;
                        padding: 10px;
                        cursor: pointer;
    
                        &:hover {
                            background: linear-gradient(#67ce67, #3a963a);
    
                        }
    
                    }
    
                    .group__button-open {
                        width: 150px;
                        height: 40px;
                        background: linear-gradient(#7de07d, #5bb85b);
                        border: none;
                        color: #fff;
                        padding: 10px;
                        cursor: pointer;
    
                        &:hover {
                            background: linear-gradient(#67ce67, #3a963a);
    
                        }
    
                    }
    
                }
    
                .group__delete {
                    width: 20px;
                    height: 20px;
                    margin-left: 10px;
                    background-image: url(./images/ChildrenDeleteImage.svg);
                    background-size: cover;
                    border: none;
                    background-color: #fff;
                    cursor: pointer;
    
                }

            }

            .list-children__wrapper {
                width: 100%;
                height: auto;
                border: 0px solid #c9c9c9;
                background: linear-gradient(#f6f6f6, #d7d7d7);
                padding: 0px;
                display: none;
                flex-wrap: wrap;
        
                .children {
                    width: 600px;
                    height: auto;
                    background: #fff;
                    border: 1px solid #c9c9c9;
                    border-radius: 5px;
                    padding: 10px;
                    margin: 10px 0;
                    display: flex;
                    
                    .children__image {
                        width: 100px;
                        height: 100px;
                        background-image: url(./images/ChildrenImage.svg);
                        background-size: cover;
                        border: 1px solid #c9c9c9;
        
                    }
        
                    .children__image-undefined {
                        width: 100px;
                        height: 100px;
                        background-image: url(./images/ChildrenImage.svg);
                        background-size: cover;
                        border: 1px solid #c9c9c9;
        
                    }
        
                    .children__description {
                        width: 80%;
                        height: 100px;
                        margin-left: 10px;
                        border: 1px solid #c9c9c9;
                        padding: 10px;
        
                    }
        
                    .children__delete {
                        width: 20px;
                        height: 20px;
                        margin-left: 10px;
                        background-image: url(./images/ChildrenDeleteImage.svg);
                        background-size: cover;
                        border: none;
                        background-color: #fff;
                        cursor: pointer;
        
                    }
        
                }
        
            }

            .list-children__wrapper-open{
                border: 1px solid #c9c9c9;
                padding: 25px;
                display: flex;
                justify-content: space-between;

            }

        }

    }

}

